<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../icofont/icofont.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&family=Yeseva+One&display=swap" rel="stylesheet">
  <title>Week6</title>
</head>
<body class="vh-100 d-flex flex-column" style="background: #F3F1E5;">
  <%- include('./layout/header'); -%>

  <div class="container flex-grow-1">
    <div class="row">
      <div class="col-12 col-md-4 mx-auto">
        <div class="mt-5 mt-lg-9">
          <div class="text-center">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler" class="mb-4" style="width: 32px; height: 32px;">
            <h1 class="ff-2 fs-4 fw-bold mb-4">會員登入</h1>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label ff-3 mb-2">帳號</label>
            <input type="email" class="form-control ff-3 fs-5 bg-transparent border border-dark border-2 rounded-0" id="email" placeholder="請輸入帳號">
          </div>
          <div class="mb-5 mb-lg-6">
            <label for="password" class="form-label ff-3 mb-2">密碼</label>
            <input type="password" class="form-control ff-3 fs-5 bg-transparent border border-dark border-2 rounded-0" id="password" placeholder="請輸入密碼">
          </div>
          <button type="button" class="btn btn-dark w-100 rounded-0"><p class="mb-0 ff-3">登入<span class="ms-1">>></span></p></button>
        </div>
      </div>
    </div>
  </div>

  <%- include('./layout/footer'); -%>
  <script type="module" src="../main.js"></script>
</body>
</html>